## a. How many orders were shipped by Speedy Express in total?

**SQL query:**

SELECT COUNT(ShipperID) FROM Orders

WHERE ShipperID=1;

**Final answer:**
54

## b. What is the last name of the employee with the most orders?

**SQL query:**

SELECT LastName

FROM Orders

INNER JOIN Employees ON Orders.EmployeeID=Employees.EmployeeID

GROUP BY Employees.LastName

ORDER BY COUNT(Employees.LastName) DESC;

**Final answer:**
Peacock

## c. What product was ordered the most by customers in Germany?

**SQL query:**

SELECT ProductName, COUNT(o.CustomerID) FROM ((((Orders AS o)

INNER JOIN (Customers AS c) ON o.CustomerID=c.CustomerID)

INNER JOIN (OrderDetails AS od) ON o.OrderID=od.OrderID)

INNER JOIN (Products AS p) ON od.ProductID=p.ProductID)

WHERE Country="Germany"

GROUP BY ProductName

ORDER BY COUNT(o.CustomerID) DESC;

**Final answer:**
Gorgonzola Telino (Ordered by 5 customers from Germany)

**Note:** I interpretted this question as asking for the product with the highest number of orders by German customers, but it could also be looked at as the product with the most quantity sold to German customers. If that is the case, simply replacing all instances of "COUNT(o.CustomerID)" with "SUM(od.Quantity)" in the above query will yield an answer of "Boston Crab Meat" with 160 units sold to German customers.